
/* Patron de fondo */
.container{
    width: 100%;
    height: 100%;
    
  }

@-webkit-keyframes honeycomb {
    0%,
    20%,
    80%,
    100% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    30%,
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes honeycomb {
    0%,
    20%,
    80%,
    100% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    30%,
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  .honeycomb {
    height: 24px;
    position: relative;
    width: 24px;
    margin: 40%;
  }
  
  .honeycomb div {
    -webkit-animation: honeycomb 2.1s infinite backwards;
    animation: honeycomb 2.1s infinite backwards;
    background: #f3f3f3;
    height: 12px;
    margin-top: 6px;
    position: absolute;
    width: 24px;
  }
  
  .honeycomb div:after, .honeycomb div:before {
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
  }
  
  .honeycomb div:after {
    top: -6px;
    border-bottom: 6px solid #f3f3f3;
  }
  
  .honeycomb div:before {
    bottom: -6px;
    border-top: 6px solid #f3f3f3;
  }
  
  .honeycomb div:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    left: -28px;
    top: 0;
  }
  
  .honeycomb div:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    left: -14px;
    top: 22px;
  }
  
  .honeycomb div:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    left: 14px;
    top: 22px;
  }
  
  .honeycomb div:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    left: 28px;
    top: 0;
  }
  
  .honeycomb div:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    left: 14px;
    top: -22px;
  }
  
  .honeycomb div:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    left: -14px;
    top: -22px;
  }
  
  .honeycomb div:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    left: 0;
    top: 0;
  }
  /* fin loading icon */

  
/* selectt */

.selectContainer{
  display: flex; 
  align-items: center; 
  gap: 10px; 
  border-bottom: #EDF2F4 solid 3px;
  border-top: #EDF2F4 solid 3px;
}

.select{
  display: flex;
  align-items: center;
margin-top: 8px;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
font-size: 0.7em;
margin-bottom: 8px;
    position: relative;
    height: 35px;
    background-color:#003049;
    display: flex;
    align-items: center;
    color: #EDF2F4;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding-top: 0.7%;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }


.button{
  width: auto;
 border: #2B2D42 solid 3px;
 border-radius: 8px;
 padding: 10px;
 height: 40px;
 background-color:#003049;
 align-items: center;
 color:#EDF2F4;
 flex-direction: column;
 justify-content: center;
 border: none;
 padding: 10px;
 gap: 12px;
 border-radius: 8px;
 cursor: pointer;
 margin-left: 10px;
 font-family: 'Montserrat', sans-serif;
}

.button:hover{
  background-color:#EDF2F4;
  color: #003049;
  border: #003049 3px solid;
}

.button::before{
  width: 75px;
    }

.selectContainer {
justify-content: center;
width: 100%;
height: 100%;
display: flex;
align-items: center;
gap: 10px;
margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .selectContainer {
    width: 100%;
    height: 100%;
    gap: 2px;
  }
}

/* Estilos para celular (480px ancho o más) */
@media only screen and (max-width: 480px) {
  .selectContainer{
    width: 100%;
    height: 100%;
 flex-direction: column;
  }
}