.button{
    width: 80px;
  border: #EDF2F4 2px solid;
  cursor: pointer;
  border-radius: 8px;
  margin-top: auto;
  background-color: #003049;
  padding: 10px;
  color:#EDF2F4 ;
  font-family: 'Montserrat', sans-serif;
  }
  
  .button:hover{
    background-color: #EDF2F4;
    color: #2B2D42 ;
    border: #2B2D42 solid 3px;
    
  }
  
  .inputContainer {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  
  .clearButton {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
    color: #003049;
  }
  
  .inputBox {
    padding-right: 15px; 
  }
  .inputWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0.5%;
  }
  
  
  /* INPUT STYLES */
  .inputWrapper {
    position: relative;
    width: 300px;
    /* margin: auto; */
  }
  
  .inputBox {
    padding: 10px 0;
    border: none;
    border-radius: 16px;
    border-bottom: 3px solid #669bbc;
    color: #003049;
    /* width: 100%; */
    background-color: white;
    transition: border-color 0.3s ease-in-out;
   
  
  }
  
  
  .inputBox:focus {
    border-color: #EF233C;
    outline: none;
    
  }
  
  .inputBox:focus + .underline {
    transform: scaleX(1);
  }